<a href="https://colab.research.google.com/github/JamesBland95/Python_Training_JB-/blob/main/Training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

df = pd.read_excel("/content/rh_trafficcameraactivitydataset_seasonal_cleaned.xlsx")


pd.set_option('max_columns', None)

df.head()

,DATE,LONDON_CARS,LONDON_MOTORBIKES,LONDON_BUSES,LONDON_TRUCKS,LONDON_VANS,LONDON_PEDESTRIANS_&_CYCLISTS,NORTH_EAST_CARS,NORTH_EAST_MOTORBIKES,NORTH_EAST_BUSES,NORTH_EAST_TRUCKS,NORTH_EAST_VANS,NORTH_EAST_PEDESTRIANS_&_CYCLISTS,NORTHERN_IRELAND_CARS,NORTHERN_IRELAND_MOTORBIKES,NORTHERN_IRELAND_BUSES,NORTHERN_IRELAND_TRUCKS,NORTHERN_IRELAND_VANS,NORTHERN_IRELAND_PEDESTRIANS_&_CYCLISTS,SOUTHEND_CARS,SOUTHEND_MOTORBIKES,SOUTHEND_BUSES,SOUTHEND_TRUCKS,SOUTHEND_VANS,SOUTHEND_PEDESTRIANS_&_CYCLISTS,GREATER_MANCHESTER_CARS,GREATER_MANCHESTER_MOTORBIKES,GREATER_MANCHESTER_BUSES,GREATER_MANCHESTER_TRUCKS,GREATER_MANCHESTER_VANS,GREATER_MANCHESTER_PEDESTRIANS_&_CYCLISTS,READING_CARS,READING_MOTORBIKES,READING_BUSES,READING_TRUCKS,READING_VANS,READING_PEDESTRIANS_&_CYCLISTS
0,2020-03-01,0,0,0,0,0,0,55943,20,2256,1156,5198,5302,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2020-03-02,0,0,0,0,0,0,55546,24,2297,1164,5019,5942,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2020-03-03,0,0,0,0,0,0,55287,25,2325,1165,5091,5974,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2020-03-04,0,0,0,0,0,0,52823,21,2236,1150,5144,6199,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2020-03-05,0,0,0,0,0,0,52807,22,2279,1189,5283,6336,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0